.section-services {
    @extend .section !optional;

    padding-top: 13em;
    background-image: url("../../assets/img/section4-image.png");
    // background-size: 52% auto;
    background-position: right;
    background-repeat: no-repeat;
    max-height: 1400px;
    min-height: auto;
    padding: 0;
}

.accordion {
    position: relative;
    height: auto;
    width: 600px;
    padding: 40px;
    margin-left: 250px;
    top: 150px;
}

.card-body {
    padding: 40px;
    font-size: 1.6rem;
}
.card-header {
    position: relative;
    padding: 20px;
    color: #5f6368;
    font-size: 1.6rem;
    width: 100%;
    text-align: left;
}
