.Footer {
    background-color: #343434;
    top: 3744px;
    left: 0px;
    width: auto;
    height: 96px;
    
}   
.Footer > p {
    color: white;
    position: absolute;
    left: 100px;
    margin-top: 45px;
    font-size: 16px;
    
}

.logoFooter{
    position: relative;
    left: 1200px;
    margin-top: 45px;
}
